.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

.md-grid-item-content {
  height: 96px;
}

.md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

.md-grid-text {
  padding-bottom: 5px;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}
.buttondemoBasicUsage md-content {
  margin-right: 7px;
}
.buttondemoBasicUsage md-content .md-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54;
}

.checkboxdemoBasicUsage fieldset.standard,
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
}

.checkboxdemoBasicUsage legend,
.checkboxdemoSyncing legend {
  color: #3F51B5
}
.checkboxdemoBasicUsage legend code,
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal;
}
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown;
}

.checkboxdemoSyncing div {
  clear: both;
}

.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; 
}
