.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal;
}
.autocomplete-custom-template li:last-child {
  border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px;
}

.md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

.md-grid-item-content {
  height: 96px;
}

.md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

.md-grid-text {
  padding-bottom: 5px;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px;
}
.buttondemoBasicUsage md-content {
  margin-right: 7px;
}
.buttondemoBasicUsage md-content .md-button {
  margin-top: 16px;
  margin-bottom: 16px;
}

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54;
}

.checkboxdemoBasicUsage fieldset.standard,
.checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
}

.checkboxdemoBasicUsage legend,
.checkboxdemoSyncing legend {
  color: #3F51B5
}
.checkboxdemoBasicUsage legend code,
.checkboxdemoSyncing legend code {
  color: #3F51B5;
  font-weight: normal;
}
.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown;
}

.checkboxdemoSyncing div {
  clear: both;
}

.checkboxdemoSyncing div.standard {
  padding: 8px;
  padding-left: 15px; 
}

.custom-chips .md-chip {
  position: relative;
  padding-right: 35px;
}
.custom-chips .md-chip .md-chip-remove-container {
  position: absolute;
  right: 4px;
  top: 4px;
  margin-right: 0;
  height: 24px;
}
.custom-chips .md-chip .md-chip-remove-container button.vegetablechip {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block;
}
.custom-chips .md-chip .md-chip-remove-container button.vegetablechip md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.7);
  color: white;
  fill: white;
}
.custom-chips .md-chip .md-chip-remove-container button.vegetablechip:hover, 
.custom-chips .md-chip .md-chip-remove-container button.vegetablechip:focus {
  background: rgba(255, 0, 0, 0.8);
}
.chipsdemoContactChips md-content.autocomplete,
.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 250px;
}
.chipsdemoContactChips .md-item-text.compact {
  padding-top: 8px;
  padding-bottom: 8px;
}
.chipsdemoContactChips .contact-item {
  box-sizing: border-box;
}
.chipsdemoContactChips .contact-item.selected {
  opacity: 0.5;
}
.chipsdemoContactChips .contact-item.selected h3 {
  opacity: 0.5;
}
.chipsdemoContactChips .contact-item .md-list-item-text {
  padding: 14px 0;
}
.chipsdemoContactChips .contact-item .md-list-item-text h3 {
  margin: 0 !important;
  padding: 0;
  line-height: 1.2em !important;
}
.chipsdemoContactChips .contact-item .md-list-item-text h3,
.chipsdemoContactChips .contact-item .md-list-item-text p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 900px) {
  .chipsdemoContactChips .contact-item {
    float: left;
    width: 33%;
  }
}
.chipsdemoContactChips md-contact-chips {
  margin-bottom: 10px;
}
.chipsdemoContactChips .fixedRows {
  height: 250px;
  overflow: hidden;
}
.chipsdemoContactChips .md-chips {
  padding: 5px 0 8px;
}

#popupContainer {
  position: relative;
}

.chipsdemoCustomInputs input[type=number] {
  width: 110px;
}
.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px;
}
.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px;
}
.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0;
}

.dividerDemo .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px;
}

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize;
}
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; 
}
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; 
}
.fabToolbardemoBasicUsage md-fab-toolbar.md-right md-fab-trigger.align-with-text {
  left: 7px; 
}
md-grid-list {
  margin: 8px; 
}
.gray {
  background: #f5f5f5;
}
.green {
  background: #b9f6ca; 
}
.yellow {
  background: #ffff8d; 
}
.blue {
  background: #84ffff; 
}
.purple {
  background: #b388ff; 
}
.red {
  background: #ff8a80; 
}
md-grid-tile {
  transition: all 400ms ease-out 50ms; 
}
.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; 
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icomoon";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
.icon-home:before {
  content: "\e900"; }
.icon-clock:before {
  content: "\e94e"; }
.icon-user-plus:before {
  content: "\e973"; }
.icon-google-plus2:before {
  content: "\ea89"; }
.icon-youtube4:before {
  content: "\ea9a"; }
.icon-settings:before {
  content: "\e600"; }
md-progress-circular {
  margin-bottom: 20px; }
header {
  overflow: hidden; }
header h1 {
  color: #888;
  font-size: 36px;
  font-weight: 300; }
.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 960px;
  padding: 40px 40px;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }
.glyph {
  border-bottom: 1px dotted #ccc;
  padding: 10px 0 20px;
  margin-bottom: 20px; }
.preview-scale,
.preview-glyphs {
  display: flex;
  flex-direction: row; }
.preview-scale {
  color: #888;
  font-size: 12px;
  margin-top: 24px; }
.step {
  flex-grow: 1;
  line-height: 0.5; }
.usage {
  margin-top: 10px; }
.usage input {
  font-family: monospace;
  text-align: center; }
.usage .point {
  width: 150px; }
.usage .class {
  width: 250px; }
  md-radio-button {
  display: inline-block; }
.loading {
  background-color: black;
  filter: alpha(opacity=40);
  height: 100%;
  left: 0;
  opacity: .40;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90; }
.loading md-progress-circular {
  left: 50%;
  position: fixed;
  top: 48%;
  z-index: 100; 
}

.material-icons.md-18 {
  font-size: 18px; 
}
.material-icons.md-24 {
  font-size: 24px; 
}
.material-icons.md-36 {
  font-size: 36px; 
}
.material-icons.md-48 {
  font-size: 48px; 
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); 
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); 
}
.material-icons.md-light {
  color: white; 
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); 
}
.md-datepicker-button {
  width: 36px; 
}

md-input-container:not(.md-input-invalid) > md-icon.email {
  color: green;
}

md-input-container:not(.md-input-invalid) > md-icon.name {
  color: dodgerblue;
}

md-input-container.md-input-invalid > md-icon.email,
md-input-container.md-input-invalid > md-icon.name {
  color: red;
}
md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

md-list-item > p, .md-list-item-inner > p, .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ 
}
.secondary-button-padding p {
  padding-right: 100px; 
}
.md-menu-demo {
  padding: 24px; 
}
.menu-demo-container {
  min-height: 200px; 
}

.page-container {
  background-color: #f1f1f1;
  padding: 32px; 
}
.page {
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); 
}
.page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; 
}
.page p {
  line-height: 1.6rem; 
}
.h4 {
  margin: 10px 0; 
}
md-progress-circular {
  margin-bottom: 20px; 
}
#loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; 
}
#loaders > h5 {
  margin-top: 0; 
}
#loaders > p {
  margin-right: 20px;
  margin-bottom: 24px; 
}
p.small {
  font-size: 0.8em;
  margin-top: -18px; 
}
hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); 
}
p.small > code {
  font-size: 0.8em; 
}
.visible {
  border-color: rgba(221, 221, 177, 0); 
}
hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1); 
}
.bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%; 
}
.bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em; 
}
 md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px; 
}
md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px; 
}
 md-radio-group {
  width: 150px; }
p:last-child {
  padding-bottom: 50px; 
}

.radioValue {
  margin-left: 5px;
  color: #0f9d58;
  font-weight: bold;
  padding: 5px; 
}
.ipsum {
  color: saddlebrown;
  font-size: 0.9em; 
}
[ng-controller] {
  padding-left: 20px; 
}
.radio-demo {
  display: block;
}
div.radioDemo2 {
  margin-bottom: 20px; 
}
h2 {
  margin-left: 15px; 
}
p {
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 10px;
  border-top: 2px solid #ddd; 
}
.md-checked {
  background-color: #ECFAFB;
  border-radius: 2px; 
}
md-button.md-raised, button.md-raised {
  width: 200px; 
}
.row {
  border-bottom: 1px dashed #ddd; 
}
div.row:last-child {
  border-bottom: 0px dashed #ddd; 
}
.summary {
  width: 100%;
  padding-top: 10px;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: -5px; 
}
.title {
  font-weight: bolder; 
}
.selectedUser .md-checked {
  padding: 8px;
  width: 100px; 
}
.inset {
  padding-left: 25px;
  padding-top: 25px; 
  }

.inset md-switch {
  margin: 16px;
  margin-left: inherit;
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  line-height: 28px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; 
}
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}
.in-tab {
  width: auto !important;
  border-top: none;
}
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; 
}
.tooltipdemoBasicUsage .left {
  top: 70px !important;
  left: 56px !important; 
}
.tooltipdemoBasicUsage .right {
  top: 70px !important;
  right: 56px !important; 
}

