<div id="content">
  <div ng-controller="ChipsCtrl as ctrl" layout="column" class="chipsdemoBasicUsage">
    <md-content class="md-padding" layout="column">
      
      <h2 class="md-title">Use a custom chip template.</h2>
      <md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly">
        <md-chip-template>
          <strong>{{$chip}}</strong>
          <em>(fruit)</em>
        </md-chip-template>
      </md-chips>
      <br/>
      
      <h2 class="md-title">Use the default chip template.</h2>
      <md-chips ng-model="ctrl.roFruitNames" readonly="ctrl.readonly"></md-chips>
      <br/>

      <h2 class="md-title">Use placeholder and override hint texts.</h2>
      <md-chips
        ng-model="ctrl.tags"
        readonly="ctrl.readonly"
        placeholder="Enter a tag"
        delete-button-label="Remove a Tag"
        delete-hint="Press delete to remove tag"
        secondary-placeholder="+Tag"></md-chips>

      <h2 class="md-title">Display an ordered set of objects as chips (with custom template).</h2>
      <md-chips class="custom-chips" ng-model="ctrl.vegObjs" readonly="ctrl.readonly" md-on-append="ctrl.newVeg($chip)">
        <md-chip-template>
          <span>{{$chip.name}}</span>
          <em>({{$chip.type}})</em>
        </md-chip-template>
        <button md-chip-remove class="md-primary vegetablechip">
          <md-icon md-svg-icon="md-close"></md-icon>
        </button>
      </md-chips>
    </md-content>
  </div>

  <div ng-controller="ContactChipCtrl as ctrl" layout="column" class="chipsdemoContactChips">
    <md-content class="md-padding autocomplete" layout="column">
      <md-contact-chips
        ng-model="ctrl.contacts"
        md-contacts="ctrl.querySearch($query)"
        md-contact-name="name"
        md-contact-image="image"
        md-contact-email="email"
        md-require-match
        filter-selected="ctrl.filterSelected"
        placeholder="To">
      </md-contact-chips>
      <md-list class="fixedRows">
        <md-subheader class="md-no-stricky">Contacts</md-subheader>
        <md-list-item class="md-2-line contact-item" 
          ng-repeat="(index, contact) in ctrl.allContacts" ng-if="ctrl.contacts.indexOf(contact) < 0">
          <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
          <div class="md-list-item-text compact">
            <h3>{{contact.name}}</h3>
            <p>{{contact.email}}</p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in ctrl.contacts">
          <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
          <div class="md-list-item-text compact">
            <h3>{{contact.name}}</h3>
            <p>{{contact.email}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <div ng-controller="CustomInputCtrl as ctrl" layout="column" class="chipsdemoCustomInputs">
    <md-content class="md-padding" layout="column">
      <h2 class="md-title">Use an <code>input</code> element with no model to build an ordered set of chips.</h2>
      <md-chips ng-model="ctrl.numberChips">
        <input type="number" placeholder="Enter a number">
      </md-chips>
      <br/>
      <h2 class="md-title">Use an <code>input</code> element to build an ordered set of chips.</h2>
      <md-chips ng-model="ctrl.numberChips2">
        <input type="number" ng-model="ctrl.numberBuffer" placeholder="Enter a number">
      </md-chips>
      <br/>
      <h2 class="md-title">Use <code>md-autocomplete</code> to build an ordered set of chips.</h2>
      <md-chips ng-model="ctrl.selectedVegetables" md-autocomplete-snap md-require-match>
        <md-autocomplete
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          placeholder="Search for a vegetable">
          <span md-highlight-text="ctrl.searchText">{{item.name}} :: {{item.type}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>({{$chip.name}})</strong>
            <em>({{$chip.type}})</em>
          </span>
        </md-chip-template>
      </md-chips>
      <br/>
      <h2 class="md-title">Vegetable Options</h2>
      <md-list>
        <md-list-item class="md-2-line veggie-option" ng-repeat="veg in ctrl.vegetables" layout="row" layout-wrap>
          <div class="md-item-text md-whiteframe-z1" flex>
            <h3>{{veg.name}}</h3>
            <p>{{veg.type}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>

  <div layout="column">
    <md-content class="md-padding" layout="column">
      <h2 class="md-title">Display a set  of items as chips.</h2>
      <md-chips>
        <md-chip>Hockey</md-chip>
        <md-chip>Lacrosse</md-chip>
        <md-chip>Baseball</md-chip>
        <md-chip>Football</md-chip>
      </md-chips>
      <p style="font-size: 12px;">
        Static chips cannot be selected, removed or edited, and are not part of any model.<br/>
      If no <code>ng-model</code> is provided, there are no input elements in <code>md-chips</code>.
      </p>
    </md-content>
  </div>
</div>