<div ng-controller="MenuBarCtrl as ctrl" ng-cloak>
	<md-toolbar class="md-menu-toolbar">
		<div layout="row">
			<md-toolbar-filler layout layout-align="center center">
				<md-icon md-svg-icon="call:chat">

				</md-icon>
			</md-toolbar-filler>
			<div>
				
				<h2 class="md-toolbar-tools">
					Untitled document
				</h2>

				<md-menu-bar>
					<md-menu>
						<button ng-click="$mdOpenMenu()">
							File
						</button>
						<md-menu-content>
							<md-menu-item>
								<md-button ng-click="ctrl.sampleAction('share', $event)">
									Share...
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item>
								<md-menu>
									<md-button ng-click="$mdOpenMenu()">New</md-button>
									<md-menu-content>
										<md-menu-item>
											<md-button ng-click="ctrl.sampleAction('New Document', $event)">Document
											</md-button>
										</md-menu-item>
										<md-menu-item>
											<md-button ng-click="ctrl.sampleAction('New Spreadsheet', $event)">Spreadsheet
											</md-button>
										</md-menu-item>
                    <md-menu-item>
                    	<md-button ng-click="ctrl.sampleAction('New Presentation', $event)">Presentation
                    	</md-button>
                    </md-menu-item>
                    <md-menu-item>
	                    <md-button ng-click="ctrl.sampleAction('New Form', $event)">Form
	                    </md-button>
                    </md-menu-item>
                    <md-menu-item>
                    	<md-button ng-click="ctrl.sampleAction('New Drawing', $event)">Drawing
                    	</md-button>
                    </md-menu-item>
									</md-menu-content>
								</md-menu>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="ctrl.sampleAction('Open', $event)">
									Open...
								</md-button>

							</md-menu-item>
							 <md-menu-divider></md-menu-divider>
							 <md-menu-item>
                <md-button ng-click="ctrl.sampleAction('Print', $event)">
                  Print
                </md-button>
              </md-menu-item>

						</md-menu-content>
					</md-menu>
					<md-menu>
						<button ng-click="$mdOpenMenu()">
							Edit
						</button>
						<md-menu-content>
							<md-menu-item class="md-indent">
								<md-icon md-svg-icon="undo">

								</md-icon>
								<md-button ng-click="ctrl.sampleAction('undo', $event)">
									Undo
								</md-button>
							</md-menu-item>
							<md-menu-item class="md-indent">
								<md-icon md-svg-icon="content-cut">

								</md-icon>
								<md-button ng-click="ctrl.sampleAction('cut', $event)">
									Cut
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item class="md-indent">
								<md-icon md-svg-icon="content-copy">

								</md-icon>
								<md-button ng-click="ctrl.sampleAction('copy', $event)">
									Copy
								</md-button>
							</md-menu-item>
							<md-menu-item class="md-indent">
								<md-icon md-svg-icon="redo">

								</md-icon>
								<md-button ng-click="ctrl.sampleAction('redu', $event)">
									Redu
								</md-button>
							</md-menu-item>
							<md-menu-item class="md-indent">
								<md-icon md-svg-icon="content-paste">

								</md-icon>
								<md-button>
									Paste
								</md-button>
							</md-menu-item>
							<md-menu-divider></md-menu-divider>
							<md-menu-item class="md-indent">
                <md-button>
                  Find and replace...
                </md-button>
              </md-menu-item>
						</md-menu-content>
					</md-menu>
					<md-menu>
						<button  ng-click="$mdOpenMenu()">
							View
						</button>
						<md-menu-content>
							<md-menu-item type="checkbox" ng-model="ctrl.settings.showRuler">
								Print layout
							</md-menu-item>
							<md-menu-item type="checkbox" ng-model="ctrl.settings.showSpellingSuggestions">
								Spelling
							</md-menu-item>
							<md-menu-item class="md-indent">
								<md-menu>
									<md-button ng-click="$mdOpenMenu()">Mode</md-button>

									<md-menu-content width="3">
										<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="presentation">
										Presentation
										</md-menu-item>
										<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="edit">
										Edit
										</md-menu-item>
										<md-menu-item type="radio" ng-model="ctrl.settings.presentationMode" value="modifiable">
										Modifiable
										</md-menu-item>
									</md-menu-content>
								</md-menu>

							</md-menu-item>
						</md-menu-content>

					</md-menu>
					<md-menu>
						<button ng-click="$mdOpenMenu()">
							Format
						</button>
						<md-menu-content>

							<md-menu-item>
								<md-button>
									Bold
									<span class="md-alt-text"> {{ 'A-O' | keyboardShortcut }}</span>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button>
									Italic
									<span class="md-alt-text"> {{ 'M-I' | keyboardShortcut }}</span>
								</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button>
									Underline
									<span class="md-alt-text"> {{ 'S-U' | keyboardShortcut }}</span>
								</md-button>
							</md-menu-item>
							<md-menu-divider>

							</md-menu-divider>
							<md-menu-item>
								<md-button>
									Clear Formatting
								</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
				</md-menu-bar>
			</div>
		</div>

	</md-toolbar>
	<div class="page-container">
    <div class="page">
      <h1>Untitled document</h1>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
      <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>
  </div>
</div>